/************ General ************/
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Roboto:wght@300;400;500&display=swap");

/*
font-family: 'Quicksand', sans-serif;
font-family: 'Roboto', sans-serif;

grau: #434141
orange: #ff9900
*/

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #434141;
    line-height: 1.2;
    font-weight: 300;
}

h1,
h2,
h3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    hyphens: auto;
}

h2 {
    font-size: 1.5rem;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #434141;
    padding: 0.6rem 2rem;
    border-radius: 0.5rem;
}

a:hover,
.hover:hover,
#start a:hover {
    color: #ff9900;
    border: #ff9900 solid 1px;
    background-color: #fff;
}

main article {
    padding: 0 1rem;
}

article {
    margin-top: 6rem;
}

/********* Header *********/

nav,
nav ul,
footer ul {
    display: flex;
}

nav {
    justify-content: flex-end;
    align-items: center;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav ul {
    margin-right: 2rem;
}

nav > a {
    padding-top: 0;
    padding-bottom: 0;
}

nav > a:hover {
    border: none !important;
}
/**Anfang scroll background**/
.fixed.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}
/**Ende scroll background**/

/**Anfang burgermenü, weiter in den media queries**/
#burgerbutton {
    display: none;
}

/**Ende burgermenü**/

.hintergrund {
    z-index: -1;
    position: absolute;
}

.head {
    z-index: 0;
}

.stuhl {
    margin: 2rem 0 0 2rem;
    width: 40%;
    height: auto;
}

#start {
    text-align: center;
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#start h1 {
    margin-bottom: 1rem;
}

#start a {
    margin-top: 1rem;
    padding: 1rem 1.5rem;
    background-color: #ff9900;
    border: #fff solid 1px;
    color: #fff;
    width: 70%;
    text-align: center;
    align-self: center;
}

/********* Footer *********/

footer {
    background-image: url(../bilder/footer.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5rem 5rem;
}

footer ul {
    padding: 0;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #fff;
}

footer a:hover {
    background-color: transparent;
    border: none;
    margin: 0;
    color: #ff9900;
}
/************ Start ************/

/************ Gallerie ************/

/**Anfang Lightbox**/

.row > .column {
    padding: 0 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 25%;
}

.column_2 {
    width: 20%;
    float: left;
}

.row .column img {
    border-radius: 25%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}

/* The Close Button */
.close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Caption text */
.caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Ende Lightbox*/

/************ Beratung ************/

#beratung {
    background-image: url(../bilder/beratung.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
form {
    background-color: #fff;
    border-radius: 3rem;
    padding: 3rem;
    box-shadow: 0px 0px 5px #888;
}

form section {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

textarea,
#mail,
#tel {
    display: block;
    width: 100%;
    border-radius: 0.5rem;
    border: #434141 solid 1px;
}

textarea,
.first {
    margin-right: 1rem;
}

label,
textarea {
    margin: 0.2rem 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 5rem;
}

.buttons input {
    background-color: #ff9900;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    width: 10rem;
}

.top > section {
    margin-right: 1rem;
}

/************ Produkionstechnik ************/

#produktionstechnik {
    background-image: url(../bilder/pt.svg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right center;
}

.text {
    background: #fff;
    border-radius: 1rem;
    padding: 1rem;
}

.eins {
    margin: 0;
}

#produktionstechnik a {
    color: #ff9900;
    padding: 0;
}

#produktionstechnik a:hover {
    border: none;
    font-weight: 400;
}
/************ About ZZ ************/

/****************** Media Queries ******************/

/**** nur Handy****/

@media only screen and (max-width: 600px) {
    #start {
        width: 90%;
    }
}

/****größer als Handy****/

@media only screen and (min-width: 600px) {
    .flexed {
        display: flex;
        flex-direction: row;
    }

    .flexed section,
    .flexed > label {
        width: 50%;
    }

    .text {
        width: 100%;
        column-count: 2;
        column-gap: 1rem;
    }
}

/**** Tablet ****/
@media only screen and (min-width: 600px) and (max-width: 1400px) {
    #start {
        width: 50%;
    }
}

/****Handy und Tablet****/

@media only screen and (max-width: 1400px) {
    .stuhl {
        display: none;
    }

    #start {
        margin-right: auto;
        margin-left: auto;
    }

/**Anfang burgermenü**/
    nav {
        background-color: #fff;
    }

    nav ul {
        display: none;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        margin-top: 3rem;
    }

    nav ul li {
        display: block;
    }

    nav ul li a {
        display: block;
    }


    @keyframes open {
        from {
            left: -100vw;
        }
        to {
            left: 0;
        }
    }

    #burgerbutton:checked ~ ul {
        display: block;
        animation-name: open;
        animation-duration: 0.8s;
    }

    #burgerbutton:checked ~ .burgerimage {
        transform: rotate(360deg);
    }

    .burgerimage {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 28pt;
        cursor: pointer;
        transition: transform 0.8s ease;
        color: #ff9900;
    }
    /** Ende Burgermenü**/
}

/****größer als Tablet****/

@media only screen and (min-width: 1400px) {
    .head {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        position: relative;
    }

    .hintergrund {
        width: 65%;
    }

    #start {
        width: 25%;
        margin-right: 7rem;
        height: 10rem;
    }

    #start h1,
    #start {
        text-align: right;
    }

    main article {
        padding: 0 20%;
    }

    #start a {
        align-self: flex-end;
    }
/**burgermenü**/
    .burgerimage {
        display: none;
    }
}
